.button {
  background-color: rgb(0, 0, 0);
  border: none;

  /* color: white; */
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  opacity: 1;
}

.buttonOrange {
  background-color: hsl(24, 100%, 60%);
}

.buttonBlue {
  background-color: hsl(210, 100%, 65%);
}

.buttonSelected {
  filter: brightness(150%);
  color: #232c39;
}
