.button {
  background-color: rgb(0, 0, 0);
  border: none;

  /* color: white; */
  padding: 15px 32px;
  margin: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 160px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
}

.buttonOrange {
  background-color: hsl(24, 100%, 60%);
}

.buttonBlue {
  background-color: hsl(210, 100%, 65%);
}

.buttonSelected {
  filter: brightness(125%);
  color: #232c39;
}
