/* body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  position: relative;
  height: 100vh;
} */

.split {
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.button {
  background-color: rgb(0, 0, 0);
  border: none;

  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonOrange {
  background-color: hsl(24, 100%, 60%);
}

.buttonBlue {
  background-color: hsl(210, 100%, 65%);
}

.grad {
  background-image: linear-gradient(to right, #80bfff 40%, #ffa366 60%);
}
